:root {
    --color: rgb(150, 150, 150);
    --inner-color: rgb(130, 130, 140);
    --inner-color2: rgb(110, 110, 120);
    --inner-color3: rgb(100, 100, 90);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.bg {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(#335 30%, #001 100%);
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

input {
    opacity: 0;
}

.track {
    width: 220px;
    height: 70px;
    border-radius: 70px;
    background: #555;
    box-shadow: inset 0 0 10px 2px #111, inset 0 0 30px 3px #222;
    cursor: pointer;
}

.track:hover,
input:focus~label .track {
    box-shadow: inset 0 0 10px 2px #111, inset 0 0 30px 3px #222,
        0 0 20px -4px rgba(200, 200, 200, 0.5);
}

.bulb {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    border: 10px solid var(--color);
    box-sizing: border-box;
    margin: 5px;
    opacity: 0.8;
    background: radial-gradient(ellipse at center center,
            #211 30%,
            transparent 31%,
            transparent 45%,
            var(--inner-color3) 46%,
            var(--inner-color3) 52%,
            var(--inner-color2) 52%,
            var(--inner-color2) 62%,
            var(--inner-color) 62%,
            var(--inner-color)),
        radial-gradient(circle at 0% 120%,
            transparent 50%,
            var(--inner-color3) 50%,
            var(--inner-color3) 60%,
            transparent 60%);
    transition: all 0.35s ease-in-out;
    cursor: pointer;
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.8);
}

.bulb::before,
.bulb::after {
    content: "";
    width: 42px;
    height: 33px;
    box-sizing: border-box;
    position: absolute;
    display: block;
    border: 9px solid var(--color);
    top: -8px;
    left: -5px;
    transition: all 0.35s ease-in-out;
}

.bulb::before {
    border-left: none;
    transform: rotate(-40deg);
    border-radius: 50% 50% 50% 0;
}

.bulb::after {
    top: 14px;
    left: 2px;
    border-right: none;
    transform: rotate(-40deg);
    border-radius: 50% 0 50% 50%;
}

#toggle:checked~label .bulb {
    transform: translateX(150px) rotate(360deg);
    --color: rgb(250, 250, 250);
    --inner-color: rgb(240, 240, 240);
    --inner-color2: rgb(220, 220, 220);
    --inner-color3: rgb(200, 200, 200);
    opacity: 1;
    box-shadow: 0 0 50px 20px white;
}

#toggle:checked~.bg {
    background: radial-gradient(circle at 58% 50%, #99a, #667 30%, #335 100%);
}

@media only screen and (min-width: 600px) {
    .CFL {
        transform: scale(2.5);
    }
}

@media only screen and (max-width: 600px) {
    .CFL {
        transform: scale(1.8);
    }
}

@media only screen and (max-width: 400px) {
    .CFL {
        transform: scale(1.5);
    }
}